html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    // color: #5d686f;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, 0.04) 3%, transparent 0);
    background-size: 20px 20px;
    background-position: 50%;
}

p, code, pre {
    // word-break: break-all;
}

ul {
    padding: 0 0 0 1.25rem;
}

ol {
    padding: 0 0 0 1.25rem;
}

blockquote {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

code {
    color: #ffad00;
    // border: 1px solid;
    padding: 1px 2px;
    border-radius: 4px;
    background: rgb(245, 245, 245);
}

@keyframes topToView {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes leftToView {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@import '_partial/sidebar';
@import '_partial/index';
@import '_partial/header';
@import '_partial/post';
@import '_partial/footer';
@import '_partial/misc';
@import '_partial/search';
@import '_partial/archive';
@import '_partial/pagination';