<a type="button" id="btnSearch" class="search-btn">
  <svg t="1693393972243" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6432" width="20" height="20">
    <path d="M789.804097 737.772047 742.865042 784.699846 898.765741 940.600545 945.704796 893.672746Z" p-id="6433"></path>
    <path d="M456.92259 82.893942c-209.311143 0-379.582131 170.282245-379.582131 379.582131s170.270988 379.570875 379.582131 379.570875c209.287607 0 379.558595-170.270988 379.558595-379.570875S666.210197 82.893942 456.92259 82.893942zM770.128989 462.477097c0 172.721807-140.508127 313.229934-313.206398 313.229934-172.720783 0-313.229934-140.508127-313.229934-313.229934s140.508127-313.229934 313.229934-313.229934C629.620861 149.247162 770.128989 289.75529 770.128989 462.477097z" p-id="6434"></path>
  </svg>
</a>
<div id="searchContainer" class="search-container">
  <div id="searchContent" class="search-content">
    <div class="search-input">
      <input id="searchInput" type="text" placeholder="查找文章" />
    </div>
    <div id="searchResult" class="search-result-container"></div>
  </div>
</div>
<script>
  function keyHandler(e) {
    if (e.keyCode == 27) {
      closeModal();
    }
  }

  function openModal() {
    disableBodyScroll();
    $('.search-container').addClass('show-search');
    $('#searchInput').focus();
    document.addEventListener('keydown', keyHandler);
  }

  function closeModal() {
    enableBodyScroll();
    $('#searchInput').val('');
    $('#searchResult').empty();
    $('.search-container').removeClass('show-search');
    document.removeEventListener('keydown', keyHandler);
  }
  // 防止首页内容滚动
  function disableBodyScroll() {
    document.body.style.width = '100%';
    var body = document.body;
    window.stTemp = Math.max(body.scrollTop, document.documentElement.scrollTop);
    body.style.overflow = 'hidden';
    body.style.position = 'fixed';
    body.style.top = (-window.stTemp || 0) + 'px';
  }
  // 恢复首页滚动
  function enableBodyScroll() {
    document.body.style.width = '';
    var body = document.body;
    body.style.overflow = 'hidden';
    body.style.position = 'static';
    body.style.top = '0px';
    body.scrollTop = window.stTemp;
    document.documentElement.scrollTop = window.stTemp;
  }
  // 阻止冒泡，防止点击弹窗内容触发弹窗关闭
  searchContent.addEventListener('click', function(e) {
    e.stopPropagation();
  });
  // 点击搜索打开搜索弹窗
  btnSearch.addEventListener('click', openModal);
  // 关闭搜索弹窗
  searchContainer.addEventListener('click', closeModal);
  // 注册搜索函数
  searchFunc('search.json', 'searchInput', 'searchResult');
</script>