.archive-container {
  height: 100%;
  overflow: hidden;
  display: flex;

  .post-archive {
    animation: fadeIn 0.5s ease-in-out;
    flex: 1;
    overflow: auto;
    padding: 2rem;

    a {
      color: #368CCB;
      text-decoration: none;
    }
  }
}