.home-container {
    display: flex;
    overflow: hidden;
}

.sidebar {
    padding: 20px;
    width: 260px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 2px #ddd;
    text-align: center;

    img.avatar {
        display: block;
        width: 100px;
        border-radius: 50%;
        margin: 0 auto 10px;
    }

    .notice {
        text-align: left;
        border: 1px solid #dbdbde;

        h3 {
            padding: 5px 0;
            margin: 0;
            text-align: center;
            height: 18px;
            line-height: 18px;
            font-size: 1rem;
            background: #dbdbde;
        }

        p {
            margin: 8px;
            font-size: 0.75rem;

            a {
                text-decoration: none;
                color: #368ccb;
            }
        }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.index-container {
    flex: 1;
    overflow: auto;
    padding: 0 10px;

    .post {
        max-width: 1700px;
        width: 90%;
        margin: 1rem auto;
        padding: 1rem;
        background-color: #fff;
        border-bottom: 1px solid #f1f1f4;

        .post-title {
            font-size: 1.8rem;

            .post-title-link {
                letter-spacing: -0.04em;
                font-weight: 700;
                line-height: 1.45em;
                color: #4a4a4a;
                text-decoration: none;
            }
        }

        .post-content {
            overflow: hidden;
            min-height: 1rem;

            a {
                color: #368CCB;
                text-decoration: none;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        .post-meta {
            color: #BABABA;

            .post-read-more-link {
                color: #368CCB;
                text-decoration: none;
            }
        }
    }

    .post.post-list-item:last-of-type {
        border: none;
    }
}
