.go-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  opacity: 0.2;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
}

.go-top:hover {
  opacity: 0.6;
}