.article-container {
  flex: 1;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  box-shadow: 0 0 2px #ddd;

  .post-toc {
    position: relative;
    width: 300px;
    height: 100%;
    padding: 1rem;
    overflow: auto;
    box-shadow: 1px 0 0 0 #f2f2f2;
    box-sizing: border-box;

    h3 {
      margin: 0;
      font-weight: normal;
    }

    ol {
      list-style: none;
      padding: 0;

      ol {
        padding: 0 0 0 0.5em;
      }
    }

    a {
      display: block;
      padding: 4px 0 4px 0.2em;
      color: #368ccb;
      text-decoration: none;
    }

    a:hover {
      background-color: yellowgreen;
    }
  }

  @media screen and (max-width: 768px) {
    .post-toc {
      display: none;
    }
  }

  .post-container {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 0 20px;

    .post-title h2.title {
      font-size: 2rem;
      margin: 1rem 0;
    }

    .post-title {
      .post-title-link {
        color: #368CCB;
        text-decoration: none;
      }
    }

    .post-content {
      overflow: hidden;
      min-height: 1rem;

      a {
        color: #368CCB;
        text-decoration: none;
      }

      img {
        display: block;
        width: 100%;
        max-width: 300px;
        border: 1px solid #dbdbde;
        box-sizing: border-box;
      }
    }

    .post-meta {
      color: #BABABA;
    }
  }
}

@import 'post-highlight';