.sidebar {
  animation: leftToView 0.5s ease-in-out;
  padding: 20px;
  width: 260px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 2px #ddd;
  text-align: center;

  .title {
    margin: 0.75rem 0 0;
  }

  .subtitle {
    margin: 0 0 0.5rem;
  }

  img.avatar {
    display: block;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
  }

  .icon-list {
    a {
      display: inline-block;
      margin: 10px 2px;
      text-decoration: none;
    }
  }

  .notice {
    text-align: left;
    border: 1px solid #dbdbde;

    h3 {
      padding: 5px 0;
      margin: 0;
      text-align: center;
      height: 18px;
      line-height: 18px;
      font-size: 1rem;
      background: #dbdbde;
    }

    p {
      margin: 8px;
      font-size: 0.75rem;

      a {
        text-decoration: none;
        color: #368ccb;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
