.go-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 4px;
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: center;
  background-color: #000;
  color: #fff;
  opacity: 0.2;
  cursor: pointer;
  user-select: none;
}